/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*-------------------------------------*\
	HINT.css - A CSS tooltip library
\*-------------------------------------*/

/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 * 
 * Classes added:
 * 	1) hint
 */
.hint, [data-hint] {
    display: inline-block;
    position: relative;
}

    .hint:before, .hint:after,
    [data-hint]:before, [data-hint]:after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        /*-webkit-transition: .2s cubic-bezier(.3, 1.5, .6, 1);
			transition: .2s cubic-bezier(.3, 1.5, .6, 1);*/
        z-index: 1000;
    }

    .hint:hover:before, .hint:hover:after,
    [data-hint]:hover:before, [data-hint]:hover:after {
        opacity: 1;
        visibility: visible;
    }

    .hint:before,
    [data-hint]:before {
        background: transparent;
        border: 4px solid transparent;
        content: '';
        position: absolute;
        z-index: 10001;
    }

    .hint:after,
    [data-hint]:after {
        content: attr(data-hint);
        background: #222;
        border-radius: 2px;
        color: #FFF;
        padding: 7px 10px;
        font-size: 12px;
        line-height: 1.1;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        white-space: pre;
        word-wrap: break-word;
    }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 * 
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * top tooltip
 */
.hint-top:before,
.hint-top:after {
    bottom: 99%;
    right: 50%;
}

.hint-top:after {
    margin-bottom: 8px;
    -webkit-transform: translate(50%, 40%);
    transform: translate(50%, 40%);
}

.hint-top:before {
    border-top: 5px solid #222;
    margin: 0 -5px -1px 0;
}

.hint-top:hover:after {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
}
/**
 * right tooltip
 */
.hint-right:before,
.hint-right:after {
    left: 100%;
    bottom: 50%;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.hint-right:before {
    border-right: 4px solid #222;
    margin: 0 0 -4px -2px;
}

.hint-right:after {
    margin-left: 6px;
    margin-bottom: -14px;
}

.hint-right:hover:before, .hint-right:hover:after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/**
 * left tooltip
 */
.hint-left:before, .hint-left:after {
    right: 100%;
    bottom: 50%;
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px);
}

.hint-left:before {
    border-left: 4px solid #222;
    margin: 0 -8px -4px 0;
}

.hint-left:after {
    margin-bottom: -14px;
}

.hint-left:hover:before, .hint-left:hover:after {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}


/*-----------------------------------
 * Animation
 *-----------------------------------*/
.animated {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}


@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-20px)
    }

    60% {
        transform: translateY(-8px)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce
}

@-webkit-keyframes bounce {
    0%,20%,50%,80%,100% {
        -webkit-transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-20px)
    }

    60% {
        -webkit-transform: translateY(-8px)
    }
}

@keyframes bounceIn {
    0%,100%,20%,40%,60%,80% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        -ms-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        -ms-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        -ms-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        -ms-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        -ms-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        -ms-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}

@-webkit-keyframes bounceIn {
    0%,100%,20%,40%,60%,80% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

/* error panel with close */
.show_error {
    background: #FCF3F7 url(/images/icons/error.png) no-repeat 5px 50%;
    background-size: 20px auto;
    border-radius: 2px;
    color: #8A1F11;
    display: none;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 4px 24px 5px 30px;
    line-height: 20px;
    position: relative;
}

    .show_error.loading,
    .loading {
        background: #FCF3F7 url(/images/icons/loader_small.gif) no-repeat 3px;
        padding-left: 25px;
    }

.loading {
    background-color: transparent;
}

h2.loading {
    background-position: 27% 0;
}


/*-----------------------------------
 * Paging
 *-----------------------------------*/
.paging {
    padding: 0;
    margin: 0 0 10px;
}

    .paging a,
    .paging .current,
    .paging .disabled {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        display: inline-block;
        margin: 0 3px 3px 0;
        line-height: 30px;
        padding: 0 12px;
        text-decoration: none;
    }

        .paging a:hover,
        .paging .current {
            background: #e8e8e8;
            border-color: #e8e8e8;
        }

    .paging .current {
        background: #4e6cef;
        border-color: #4e6cef;
        color: #fff;
    }

    .paging .disabled {
        display: none;
    }

    .paging.small a,
    .paging.small .disabled,
    .paging.small .current {
        font-size: 11px;
        line-height: 20px;
        margin-right: 2px;
        padding: 0 8px;
    }

/*-----------------------
  Custom Table
 -----------------------*/
th {
    font-weight: 700
}

.disabled,
.table.disabled tr,
.table tr.disabled td {
    cursor: not-allowed;
    filter: alpha(opacity=30);
    opacity: .3;
}

    .table tr.disabled td.action {
        cursor: default;
        filter: alpha(opacity=100);
        opacity: 1;
    }

.disabled,
.table.disabled tr {
    filter: alpha(opacity=50);
    opacity: 1;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom: 0;
}

table.responsive-table th {
    background: #eee;
}

table.responsive-table td.action .btn.fix {
    margin-bottom: 1px;
}

@media (max-width:480px) {
    /*-----------------------
      Responsive Table
      -----------------------*/
    table.responsive-table thead,
    table.responsive-table th,
    table.responsive-table.nohead td:nth-child(1):before,
    table.responsive-table.nohead td:nth-child(2):before {
        display: none;
    }

    table.display td {
        padding: .5em;
    }

    table.responsive-table {
        border: 0;
    }

    table.stripe tr:nth-child(2n),
    table.stripe tr:nth-child(2n+1) {
        background: #fff;
    }

    table.responsive-table td:before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        padding-left: 8px;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 31%;
    }

    table.responsive-table td {
        background: linear-gradient(to left,#fff 69%,#f1f1f1 0%);
        padding: 8px 8px 8px 32% !important;
        border-width: 0 0 1px !important;
    }

    table.responsive-table.nohead td {
        padding-left: 4%;
    }

    table.responsive-table tr,
    table.responsive-table td {
        display: block;
    }

    table.responsive-table tr {
        position: relative;
        margin-bottom: .5em;
    }

    table.responsive-table td:first-child {
        background: #eaeaea;
        border-top: 0;
    }

    table.responsive-table td.action {
        background: 0 0;
        padding: 8px !important;
    }
}

@media (max-width:375px) {
    /*-----------------------
      Responsive Table
      -----------------------*/
    table.responsive-table .btn {
        display: block;
        width: 100%;
    }

    table.responsive-table .btn_auto_width {
        width: auto;
    }

    table.responsive-table .btn + .btn {
        margin-top: 5px;
    }
}

.imagePreview {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}

w320px {
    width: 320px;
}

.padL0 {
    padding-left: 0 !important;
}

.pad3 {
    padding: 3px;
}


/*Attachment*/
.attachment-file {
    visibility: hidden;
}

.list-attachment {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

#attach-files {
    margin-bottom: 0px;
}

    #attach-files > .list-group-item:first-child {
        font-weight: 400;
        font-size: 15px;
        color: #555;
    }

    #attach-files > .list-group-item {
        border: none;
        padding: 3px 7px;
    }

        #attach-files > .list-group-item a {
            width: 300px;
            display: inline-block;
        }

#download-attachment > .list-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #download-attachment > .list-group .list-group-item {
        border: none;
        padding: 3px 0px 10px;
    }

#detail-attachment > .list-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #detail-attachment > .list-group .list-group-item {
        border: none;
        padding: 3px 5px 10px 5px;
        background-color: #f9f9f9;
    }

        #detail-attachment > .list-group .list-group-item.bgwhite {
            background-color: #fff;
        }

.progress-upload {
    display: flex;
    height: 3px;
    overflow: hidden;
    background-color: #e9ecef;
    left: 0px !important;
    margin-top: -15px;
}

.progress-upload-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #28a745;
    transition: width .6s ease;
}

.background-warning {
    background-color: #fcf8e3 !important;
}

.background-danger {
    background-color: #f2dede !important;
}

.background-success {
    background-color: #dff0d8 !important;
}
